.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border:1px solid white; */
  padding: 0px 20px;
}
.navBarLogo {
  width: 80px;
  height: 80px;
  filter: drop-shadow(0px 0px 2px rgb(255, 255, 255));
}
.openImg {
  display: none;
}
.closeImg {
  display: none;
}
.navMenu {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
#navBarContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.anchor {
  text-decoration: none;
  color: var(--whiteColor);
  cursor: pointer;
  filter: drop-shadow(0px 0px 0.8px white);
  text-transform: uppercase;
  font-size: 16px;
}
@media (max-width: 768px) {
  .openImg {
    display: block;
    width: 30px;
    height: 30px
  }
  .closeImg {
    display: block;
    position: relative;
    top: 30px;
    left: 200px;
  }
  .navMenu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    right: -350px;
    height: 100vh;
    width: 250px;
    display: flex;
    z-index: 2;
    background-color: #2d162a;
    transition: right 1s;
  }
  #navBarContent {
    font-size: 22px;
    flex-direction: row;
    padding-left: 20px;
    gap: 15px;
  }
  .connectContainer {
    display: none;
  }
}
